*{
	margin: 0px;
	padding: 0px;
}
html {
	font-size:62.5%;
}
body{
	font-size:1.4rem;
	font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,STHeiti;
}
img{
  width: 100%;
}
a{
	text-decoration: none;
}
p{
	font-size: 1.2rem;
}
.clearfix::before, .clearfix::after{
	content: "";
	display: table;
}
.clearfix::after{
	clear: both;
	overflow: hidden;
}
.msg{
	display: inline-block;
	float:right;
	text-align: center;
	border-radius:0.3rem;
	-webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
	border: 1px solid #1494c5;
}
.msg a{
	display: block;
	color:#44cafd;
}
