*{
	margin: 0px;
	padding: 0px;
}
html {
	font-size:62.5%;
}
body{
	font-size:1.4rem;
	font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,STHeiti;
}
img{
  width: 100%;
}
a{
	text-decoration: none;
}
p{
	font-size: 12px;
}
.clearfix::before, .clearfix::after{
	content: "";
	display: table;
}
.clearfix::after{
	clear: both;
	overflow: hidden;
}
.msg{
	display: inline-block;
	float:right;
	text-align: center;
	border-radius:0.3rem;
	-webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
	border: 1px solid #1494c5;
}
.msg a{
	display: block;
	color:#44cafd;
}


/*service开始*/

.service h1{
	margin: 80px 0px;
	text-align: center;
	color: #f5d742;
}
.service ul{
	display: flex;
}
.service ul li{
    flex: 1;
    width: 25%;
    text-align: center;
    padding-right: 100px;
    box-sizing: border-box;

}
.service ul li:last-child{
    padding-right: 0px;
}
.service ul li i{
	display: block;
    width: 66px;
    height: 60px;
    margin: 5px auto;
}
.service ul li h3{
	font-size: 16px;
	color: #333;
}
.service ul li p{
    margin: 10px 0px;
    color: #999;
}
.service1{
	background: url(../images/anli.png) no-repeat 50% 50%;
}
.service2{
	background: url(../images/renzheng.png) no-repeat 50% 50%;
}
.service3{
	background: url(../images/fuwu.png) no-repeat 50% 50%;
}
.service4{
	background: url(../images/feiyong.png) no-repeat 50% 50%;
}
/*service结束*/

