@media (min-width: 768px){
	.topbar,.navbar,.main,.footer-nav,.message,.video{
		width: 768px;
		margin: 0 auto;
	}
	.ds-carousel ul,.ds-carousel1{
    height: 356px;
	}
}
@media (min-width: 992px){
	.topbar,.navbar,.main,.footer-nav,.message,.video{
		width: 992px;
		margin: 0 auto;
	}
	.ds-carousel ul,.ds-carousel1{
    height: 502px;
	}
}
@media (min-width: 1200){
	.topbar,.navbar,.main,.footer-nav,.message,.video{
		width: 1200px;
		margin: 0 auto;
	}
	.ds-carousel ul,.ds-carousel1{
    height: 599px;
	}
 }

/*.topbar,.navbar,.main,.footer-nav,.message{
	width: 1185px;
	margin: 0 auto;
}*/
.header{
	padding: 0 2rem;
	border-bottom: 1px solid #e5e5e5;
}

.topbar-location{
	float:left;
}
.topbar-location dt{
	display: inline-block;
	position: relative;
	line-height: 3rem;
	color: #c5c5c5;
	cursor: pointer
}
.topbar-location dd{
	display: none;
	position: absolute;
	width: 28%;
	padding: 10px;
	border: 1px solid #ddd;
	z-index: 1999;
	background: #fff;
}
.topbar-location dt i{
	float: left;
	width: 16px;
	height:25px;
	display: block;
	margin-top: 7px;
	background: url(../images/add0.png) no-repeat ;
	background-size: 14px;
}
.topbar-location dt:hover~dd{
	display: block;
}
.topbar-location dd li{
	list-style: none;
	float: left;
}
.topbar-location dd li a{
	display: block;
	padding: 5px 10px;
}
.topbar-login{
	float:right;
}
.topbar-login a{
	color: #c5c5c5;
	display: inline-block;
  padding: 0 0.5rem;
	line-height: 3rem;
}
.topbar-login a i{
    float: left;
    width: 2rem;
    height: 2.5rem;
    display: block;
    margin-top: 0.6rem;
    background: url(../images/personal0.png) no-repeat;
    background-size: 1.8rem;
}
/*loginbar 结束*/

/*navbar开始*/
.navbar{
	display: flex;
	height: 5rem;
	align-items: center;
}
.navbar .logo{
	display: block;
}

.navbar .nav{
	flex: 1;
	padding-right: 5rem;
}
.navbar .nav ul {
	float: right;
}
.navbar .nav ul li{
	list-style: none;
	float: left;
}
.nav ul li a{
	display:block;
	padding: 0.5rem 1rem;
	color: #999;
}
.nav ul li a.active{
	color: 	#FFCF46;
}
.nav ul li a:hover{
	color: 	#FFCF46;
}

.search input{
    border-radius: 0.6rem;
		outline: none;
    border: 1px solid #ddd;
    color: #c5c5c5;
    padding: 0.5rem 1rem 0.5rem 2rem;
    background: url(../images/search.png) no-repeat 0.5rem 0.6rem #Fafafa;
		display: inline-block;
		width: 17.4rem;
    background-size: 1.3rem;
}
/*navbar结束*/

/**carousel start**/
.carousel{
	position: relative;
}
.carousel-box{
  height: 64rem;
	overflow: hidden;
}

.carousel-box ul {
	position: relative;
}
.carousel-box ul li{
	float: left;
	width: 121.6rem;
}
.carousel-box ul li a img{
	width: 100%;
	height: 64rem;
}
.turn-arrow a{
	height: 10rem;
	position: absolute;
	top: 50%;
  margin-top: -5rem;
  background: rgba(0,0,0,.2);
	z-index: 1;
	background: url('./../images/turn-left.png') no-repeat 50% 50%;
	width: 6.4rem;
	background-color: rgba(45, 45, 45, 0.5);
}

.turn-arrow a:first-child{
	left: 8%;
}
.turn-arrow a:last-child{
	right: 8%;
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin: 50% 50%;
}

.carousel:hover .turn-ico{
	opacity: 1;
	transition:opacity 1s;
	-webkit-transition:opacity 1s;
	   -moz-transition:opacity 1s;
	   	-ms-transition:opacity 1s;
	   	 -o-transition:opacity 1s;
}
.carousel:hover .turn-left,.turn-right{
	z-index: 1999;
}
.slider-page-control{
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -3.6rem;
}
.slider-page-control ul li{
	float: left;
	width: 0.8rem;
	height: 0.8rem;
	background: rgba(209, 209, 209, 0.5);
	border-radius: 50%;
	margin: 0 1rem;
	cursor: pointer;
}
.slider-page-control ul li:hover, .slider-page-control ul li.selected{
	background: #fff;
}
.go{
	line-height: 3.6rem;
	background: #fff;
	margin-top: -1.8rem;
	position: absolute;
	right: 3%;
	top: 50%;
	margin-left: -18.2rem;
}
.go a{
	width: 18rem;
  height: 3.6rem;
}
/*carousel结束*/

/*main开始*/
.class-title{
	text-align: center;
	margin: 8rem 0;
}
.class-title p{
	line-height: 2.5rem;
	color: #ababab;
	font-size: 1.6rem;
}
.class-title h1{
	margin-bottom:2rem;
}
.class-title a{
	color: #44cafd;
	line-height: 2.5rem;
}

/*recommend-content开始*/
.recommend-container{
	margin: 0 auto;
	display: flex;
}

.recommend{
  flex: 1;
  width: 33%;
  padding-right: 6%;
  box-sizing: border-box;
}
.recommend:nth-child(3n) {
	padding-right: 0;
}

.recommend-content{
  margin-bottom: 4rem;
  border: 0.1rem solid #fff;
  text-align: center;
}
.recommend-content:hover{
	border: 0.1rem solid #e5e5e5;
}
.recommend-content img{
	margin-bottom: 3rem;
	width: 100%;
}
.recommend-content p{
	font-size: 1.6rem;
	line-height: 2.5rem;
}
.favor{
	margin: 2.5rem 0;
}
.favor span{
	display: inline-block;
	padding-left: 1.5rem;
	margin-right: 2rem;
}
.favor-left{
	background: url(../images/Collection0.png) no-repeat -0.2rem 0;
}
.favor-right{
	background: url(../images/comment0.png) no-repeat -0.3rem -0.2rem;
}
.favor-left:hover{
	background: url(../images/Collection1.png) no-repeat -0.2rem 0;
}
.favor-right:hover {
	background: url(../images/comment1.png) no-repeat -0.2rem 0;
}

/*video开始*/
.video{
	height: 46rem;
	margin: 0 auto;
	overflow: hidden;
}
.video img{
	width: 100%;
}
.service h1{
	margin: 8rem 0;
	text-align: center;
	color: #f5d742;
}
.service ul li{
    list-style: none;
    float: left;
    width: 23%;
    text-align: center;
    margin-right: 2.65%;
    box-sizing: border-box;

}
.service ul li:last-child{
    margin-right: 0;
}
.service ul li i{
	display: block;
	width: 6.6rem;
	height: 6rem;
	margin: 0.5rem auto;
}
.service ul li h3{
	font-size: 1.6rem;
	color: #333;
}
.service ul li p{
    margin: 1rem 0;
    color: #999;
}
.service1{
	background: url(../images/anli.png) no-repeat 50% 50%;
}
.service2{
	background: url(../images/renzheng.png) no-repeat 50% 50%;
}
.service3{
	background: url(../images/fuwu.png) no-repeat 50% 50%;
}
.service4{
	background: url(../images/feiyong.png) no-repeat 50% 50%;
}
/*designer开始*/
.designer-title{
	text-align: center;
}
.designer-msg{
	display: flex;
}

.ds-msg-left{
	box-sizing: border-box;
  width:57%;
  padding-right: 3%;
  flex: 1;
}
.ds-list{
	margin: 1rem 0;
	border-bottom:1px  dotted  #ddd;
}
.ds-list-last{
	border: none;
}
.ds-list ul{
	display: flex;
}
.ds-list ul li{
    flex: 1;
    list-style: none;
    text-align: center;
    width: 33.33%;
    padding-right: 1%;
}
.ds-list ul li:last-child{
	padding-right: 0;
}
.ds-list ul li img{
	width: 100%;
}
.ds-pieces{
	margin: 2rem auto;
	position: relative;
}
.ds-img{
	width: 3.2rem;
	height: 3.2rem;
	float: left;
  border-radius: 50%;
  overflow: hidden;
}
.ds-img img{
	width: 3.2rem;
}
.ds-name{
	float: left;
	margin-left: 1rem;
}
.more-pieces{
	width: 10.8rem;
	height: 2.8rem;
	line-height: 2.8rem;
	position: absolute;
  right: 0.8rem;
  bottom: 0;
}
.ds-pieces-scroll{
	width: 6rem;
	height: 3rem;
	background: url(../images/bottom-scroll.png) no-repeat 50% 50%;
  margin: 1.8rem auto;
}
.ds-pieces-scroll a{
	display: block;
	width: 6rem;
	height: 3rem;
}

/*ds-msg-right开始*/
.ds-msg-right{
	width: 40%;
	box-sizing: border-box;
}

.ds-msg-right .more-pieces{
	left: 8.2rem;
  top: 3rem;
}
.ds-msg-right h3{
	line-height: 3.2rem;
}
.ds-msg-right .ds-img {
	width: 7.2rem;
	height: 7.2rem;
}
.ds-msg-right .ds-img img{
	width: 7.2rem;
}
.ds-msg-right p{
	color: #999;
}
.ds-carousel{
	margin-top: 3rem;
	overflow: hidden;
}
.ds-carousel ul{
    position: relative;
}
.ds-carousel ul li{
	list-style: none;
	position: absolute;
	text-align: center;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 3rem rgba(0,0,0,.2);
}
.ds-carousel ul li a{
	display: block;
}
.ds-carousel1{
  z-index: 999;
  top: 0px;
  left: 0px;
}
.ds-carousel2{
  z-index: 998;
  top:37%;
  left: 9%;
  width: 82%;
  height: 68%;
}
.ds-carousel2 a img{
	width: 100%;
	height: 100%;
}
.ds-carousel3{
  z-index: 997;
  top: 52%;
  left: 15%;
  width: 70%;
  height: 58%;
}
.ds-carousel3 a img{
	width: 100%;
	height: 100%;
}
.ds-carousel-scroll{
  width: 6.6rem;
  height: 6.6rem;
  border-radius: 50%;
  background: #ddd;
  margin: 0px auto;
  text-align: center;
  margin-top: 7.4rem;
  overflow: hidden;
}
.ds-carousel-scroll a{
	display: block;
	width: 6.6rem;
  height: 6.6rem;
	background: url(../images/bottom-scroll0.png) no-repeat 50% 50%;
}
/*designer结束*/

/*main结束*/

/*footer开始*/
.footer{
  margin-top:8rem;
	background: #efefef;
	text-align: center;
	padding: 0 2rem;
}
.footer p{
	color: #ababab;
	line-height: 4rem;
}
.footer-nav{
	padding: 2.5rem 0;
	border-bottom: 0.1rem solid #ddd;
}
.footer-nav p{
	float: left;
}
.footer-nav ul{
	float: right;
}
.footer-nav ul li{
	float: left;
	border-right: 0.1rem solid #ddd;
}
.footer-nav ul li a{
	display: inline-block;
	padding: 0.2rem 1rem;
}
.footer-nav p,.footer-nav ul li{
	line-height: 1.2rem;
}
.footer-nav ul li a{
	color: #ababab;
}

/*message开始*/
.message{
	padding: 4rem 0;
	border-bottom: 0.1rem solid #ddd;
}
.wechat,.weibo{
	float: left;
	text-align: center;
	margin-right: 3.6rem;
}
.phone-msg{
	float: right;
	text-align: right;
}
.phone-msg p{
    line-height: 1rem;
}
.phone-msg h6{
	line-height: 2.5rem;
}
