
@media (max-width: 959px){.topbar,.navbar,.main,.service,.footer-nav,.message{
	width: 959px;
	margin: 0 auto;
	overflow: hidden;
}
}
@media (min-width: 960px){.topbar,.navbar,.main,.service,.footer-nav,.message{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
}
@media (min-width: 1000px){ .topbar,.navbar,.main,.service,.footer-nav,.message{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
}
@media (min-width: 1086px){ .topbar,.navbar,.main,.service,.footer-nav,.message{
	width: 1086px;
	margin: 0 auto;
	overflow: hidden;
}
}
@media (min-width: 1200px){ .topbar,.navbar,.main,.service,.footer-nav,.message{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
 }

/*header开始*/
.header{
	padding: 0 2rem;
	border-bottom: 0.1rem solid #e5e5e5;
}
/*topbar 开始*/
/*.topbar{
	line-height:30px;
}*/
.topbar-location{
	float:left;
}
.topbar-location dt{
	display: inline-block;
	position: relative;
	line-height: 3rem;
	color: #c5c5c5;
	cursor: pointer
}
.topbar-location dd{
	display: none;
	position: absolute;
	width: 28%;
	padding: 1rem;
	border: 1px solid #ddd;
	z-index: 1999;
	background: #fff;
}
.topbar-location dt i{
	float: left;
	width: 1.6;
	height:2.5rem;
	display: block;
	margin-top: 0.7rem;
	background: url(../images/add0.png) no-repeat ;
	background-size: 1.4rem;
}
.topbar-location dt:hover~dd{
	display: block;
}
.topbar-location dd li{
	float: left;
}
.topbar-location dd li a{
	display: block;
	padding: 0.5rem 1rem;
}
.topbar-login{
	float:right;
}
.topbar-login a{
	color: #c5c5c5;
	display: inline-block;
  padding: 0 0.5rem;
	line-height: 3rem;
}
.topbar-login a i{
    float: left;
    width: 2rem;
    height: 2.5rem;
    display: block;
    margin-top: 0.6rem;
    background: url(../images/personal0.png) no-repeat;
    background-size: 1.8rem;
}
/*topbar 结束*/

/*navbar开始*/
.navbar{
	display: flex;
	height: 5rem;
	align-items: center;
}
.navbar .logo{
	display: block;
}

.navbar .nav{
	flex: 1;
	padding-right: 5rem;
}
.navbar .nav ul {
	float: right;
}
.navbar .nav ul li{
	list-style: none;
	float: left;
}
.nav ul li a{
	display:block;
	padding: 0.5rem 1rem;
	color: #999;
/*=======
	padding-left:300px;
>>>>>>> jingxiaofang:*/
}
.nav a {
    display: block;
    padding: 0 1rem;
    color: #999;
    line-height: 3rem;
    height: 3rem;
}
.nav ul li:first-child a,.nav a:hover{
    color:#FFCF46;
}
.nav li{
    float: left;
}

.search input{
    border-radius: 0.6rem;
		outline: none;
    border: 1px solid #ddd;
    color: #c5c5c5;
    padding: 0.5rem 1rem 0.5rem 2rem;
    background: url(../images/search.png) no-repeat 0.5rem 0.6rem #Fafafa;
		display: inline-block;
		width: 17.4rem;
    background-size: 1.3rem;
}
/*navbar结束*/
/*header结束*/

/**carousel start**/
.carousel{
	position: relative;
    height: 640px;
    overflow: hidden;
}
.carousel:hover .turn-arrow{
  opacity: 1;
  transition: opacity 0.5s;
}

.carousel a{
    display: block;
}
.carousel-box{
    height: 64rem;
	overflow: hidden;
    position: relative;
    width: 128.0rem;
	margin: 0 auto;
}

.carousel-box ul {
	position: relative;
}
.carousel-box ul li{
	float: left;
	width: 128.0rem;
}
.turn-arrow a{
	height: 10rem;
	position: absolute;
	top: 50%;
    margin-top: -5rem;
	z-index: 1;
	background: url('./../images/turn-left.png') no-repeat 50% 50%;
	width: 6.4rem;
	background-color: rgba(0, 0, 0, 0.4);
}
.carousel-box ul li a img{
	width: 100%;
	height: 640px;
}
.turn-arrow{
  opacity: 0;
}

.turn-arrow a:first-child{
	left: 4%;
}
.turn-arrow a:last-child{
	right: 4%;
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin: 50% 50%;
	-moz-transform: rotate(180deg);
	-moz-transform-origin: 50% 50%;
	-ms-transform: rotate(180deg);
	-ms-transform-origin: 50% 50%;
	-o-transform: rotate(180deg);
	-o-transform-origin: 50% 50%;
}

.carousel:hover .turn-ico{
	opacity: 1;
	transition:opacity 0.5s;
	-webkit-transition:opacity 0.5s;
	   -moz-transition:opacity 0.5s;
	   	-ms-transition:opacity 0.5s;
	   	 -o-transition:opacity 0.5s;
}
.carousel:hover .turn-left,.turn-right{
	z-index: 1999;
}
.slider-page-control{
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -3.6rem;
}
.slider-page-control ul li{
	float: left;
	width: 0.8rem;
	height: 0.8rem;
	background: rgba(209, 209, 209, 0.5);
	border-radius: 50%;
	margin: 0 1rem;
	cursor: pointer;
}
.slider-page-control ul li:hover, .slider-page-control ul li.selected{
	background: #fff;
}
.go{
	line-height: 3rem;
	background: #fff;
	margin-top: -1.5rem;
	position: absolute;
	right: 12%;
	top: 50%;
	margin-left: -18.2rem;
}
.go a{
	width: 14.7rem;
  height: 3rem;
}
/*carousel结束*/

/*main开始*/


/*class-title开始*/
.class-title{
	text-align: center;
	padding: 80px 0px;
}
.class-title p{
	line-height: 2.5rem;
	color: #ababab;
	font-size: 1.6rem;
}
.class-title h1{
	margin-bottom:2rem;
	font-weight: 100;
}
.class-title a{
	color: #44cafd;
	line-height: 2.5rem;
}
/*class-title结束*/

/*recommend-content开始*/
.recommend-container{
	margin: 0 auto;
	display: flex;
}

.recommend{
    flex: 1;
    width: 33.33%;
    padding-right: 70px;
    box-sizing: border-box;
}
.recommend:nth-child(3n) {
	padding-right: 0;
}

.recommend-content{
  margin-bottom: 4rem;
  border: 0.1rem solid #fff;
  text-align: center;
}
.recommend-content:hover{
	border: 0.1rem solid #e5e5e5;
}
.recommend-content img{
	margin-bottom: 3rem;
	width: 100%;
}
.recommend-content p{
	font-size: 1.6rem;
	line-height: 2.5rem;
}
.favor{
	margin: 2.5rem 0;
}
.favor span{
	display: inline-block;
	padding-left: 1.5rem;
	margin-right: 2rem;
}
.favor-left{
	background: url(../images/Collection0.png) no-repeat -0.2rem 0;
}
.favor-right{
	background: url(../images/comment0.png) no-repeat -0.3rem -0.2rem;
}
.favor-left:hover{
	background: url(../images/Collection1.png) no-repeat -0.2rem 0;
}
.favor-right:hover {
	background: url(../images/comment1.png) no-repeat -0.2rem 0;
}

/*video开始*/
.video{
	margin: 0 auto;
	overflow: hidden;
}
.video img{
	width: 100%;
}

/*service开始*/
.service h1{
	color: #f5d742;
	margin: 8rem 0;
    text-align: center;
    font-size: 36px;
    font-weight: 100;
}
.service ul{
	display: flex;
}
.service ul li{
    flex: 1;
    width: 25%;
    text-align: center;
    padding-right: 10rem;
    box-sizing: border-box;

}
.service ul li:last-child{
    padding-right:0;
}
.service ul li i{
	display: block;
	width: 6.6rem;
	height: 6rem;
	margin: 0.5rem auto;
}
.service ul li h3{
	font-size: 1.6rem;
	color: #333;
}
.service ul li p{
    margin: 1rem 0;
    color: #999;
}
.service1{
	background: url(../images/anli.png) no-repeat 50% 50%;
}
.service2{
	background: url(../images/renzheng.png) no-repeat 50% 50%;
}
.service3{
	background: url(../images/fuwu.png) no-repeat 50% 50%;
}
.service4{
	background: url(../images/feiyong.png) no-repeat 50% 50%;
}
/*service结束*/


/*designer开始*/

.designer{
    background: #fff;
    height: 65.8rem;
    overflow: hidden;
}
.designer-title{
    text-align: center;
}
.designer-box{
    display: flex;
}

.designer-left{
    box-sizing: border-box;
    flex: 1;
    width:60%;
    margin-right: 8rem;
}

.designer-list{
    height: 22.6rem;
    padding:0 2rem;
    border-bottom:1px  dotted  #ddd;
}
.designer-list:nth-child(3){
    border: none;
}
.designer-list ul{
    display: flex;
    padding: 1rem 0;
}
.designer-list ul li{
    flex: 1;
    list-style: none;
    text-align: center;
    width: 33.33%;
    padding-right: 0.5rem;
}
.designer-list ul li:last-child{
    padding-right: 0;
}
.designer-list ul li img{
    width: 100%;
}
.designer-pieces{
    margin-top:2rem;
    position: relative;
}
.designer-img{
	width: 3.2rem;
	height: 3.2rem;
	float: left;
  border-radius: 50%;
  overflow: hidden;
}
.designer-img img{
	width: 3.2rem;
}
.designer-name{
	float: left;
	margin-left: 1rem;
}
.more-pieces{
	width: 10.8rem;
	height: 2.8rem;
	line-height: 2.8rem;
	position: absolute;
  right: 0.8rem;
  bottom: 0;
}
.designer-pieces-scroll{
	width: 6rem;
	height: 3rem;
	background: url(../images/bottom-scroll.png) no-repeat 50% 50%;
  margin: 1.5rem auto;
    cursor: pointer;
}
.designer-pieces-scroll a{
	display: block;
	width: 6rem;
	height: 3rem;
}

/*designer-right开始*/
.designer-right{
	width: 40%;
	box-sizing: border-box;
}

.designer-right .more-pieces{
	left: 8.2rem;
  top: 3rem;
}
.designer-right h3{
	line-height: 3.2rem;
}
.designer-right .designer-img {
	width: 7.2rem;
	height: 7.2rem;
}
.designer-right .designer-img img{
	width: 7.2rem;
}
.designer-right p{
    color: #999;
    margin: 1rem 0;
}
.designer-carousel{
	overflow: hidden;
}
.designer-carousel ul{
    position: relative;
}
.designer-carousel ul li{
	position: absolute;
	text-align: center;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 3rem rgba(0,0,0,.4);
}
.designer-carousel ul li a{
    display: block;
}
.designer-carousel ul li:first-child img{
	display: block;
}
.designer-carousel1{
  z-index: 999;
  top: 0px;
  left: 0px;
}
.designer-carousel2{
  z-index: 998;
  top:35%;
  left: 9%;
  width: 82%;
  height: 70%;
}
.designer-carousel3{
  z-index: 997;
  top: 48%;
  left: 15%;
  width: 70%;
  height: 62%;
}
.designer-carousel-scroll{
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  background: #ddd;
  margin: 0 auto;
  text-align: center;
  margin-top: 7.4rem;
  overflow: hidden;
  cursor: pointer;
}
.designer-carousel-scroll i{
	display: block;
	width: 5.6rem;
  height: 5.6rem;
	background: url(../images/bottom-scroll0.png) no-repeat 50% 50%;
}

@media (max-width: 959px){.designer-carousel ul,.designer-carousel1{
    height: 32rem;
}
}
@media (min-width: 960px){.designer-carousel ul,.designer-carousel1{
    height: 33.4rem;
}
}
@media (min-width: 1000px){ .designer-carousel ul,.designer-carousel1{
    height: 36.2rem;
}
}
@media (min-width: 1200px){ .designer-carousel ul,.designer-carousel1{
    height:  36.2rem;
}
 }
/*designer结束*/

/*main结束*/

/*footer开始*/
.footer{
  margin-top:8rem;
	background: #efefef;
	text-align: center;
	padding: 0 2rem;
}
.footer p{
	color: #ababab;
	line-height: 4rem;
}
.footer-nav{
	padding: 2.5rem 0;
	border-bottom: 0.1rem solid #ddd;
}
.footer-nav p{
	float: left;
}
.footer-nav ul{
	float: right;
}
.footer-nav ul li{
	float: left;
	border-right: 0.1rem solid #ddd;
}
.footer-nav ul li a{
	display: inline-block;
	padding: 0.2rem 1rem;
}
.footer-nav p,.footer-nav ul li{
	line-height: 1.2rem;
}
.footer-nav ul li a{
	color: #ababab;
}

/*message开始*/
.message{
	padding: 4rem 0;
	border-bottom: 0.1rem solid #ddd;
}
.wechat,.weibo{
	float: left;
	text-align: center;
	margin-right: 3.6rem;
}
.phone-msg{
	float: right;
	text-align: right;
}
.phone-msg p{
    line-height: 1rem;
}
.phone-msg h6{
	line-height: 2.5rem;
}
